<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Graph</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/dygraph/2.0.0/dygraph.min.js"></script>
    <link rel="stylesheet" src="//cdnjs.cloudflare.com/ajax/libs/dygraph/2.0.0/dygraph.min.css" />
    <script type="text/javascript" src="http://dygraphs.com/src/extras/synchronizer.js"></script>
    <script type="text/javascript" src="http://dygraphs.com/src/extras/smooth-plotter.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <style>
        .graph {
            height: 25vh;
            margin-bottom: 2rem;
        }
        .dygraph-title {
            font-weight: bold;
            text-align: center;
        }
    </style>
<body>
    <center><h1>{{user}} Floor {{floor}}</h1></center>
    <div style="padding-left: 5rem, padding-right: 5rem">
        <div id="tempChart" class="graph"></div>
        <div id="humiChart" class="graph"></div>
        <div id="relayChart" class="graph"></div>
    </div>
    <script type="text/javascript">
        const nullList = [
            {% for n in null_list %}[new Date("{{n.0.isoformat }}"),new Date("{{n.1.isoformat }}")],
            {% endfor %}
        ]
        const defaultUnderlayCallback = function(canvas, area, g) {
            let nullListLength = nullList.length;
            for (let i = 0; i < nullListLength; i++) {
                cords_start = g.toDomCoords(nullList[i][0])[0]
                cords_end = g.toDomCoords(nullList[i][1])[0]
                canvas.fillStyle = "rgba(255, 40, 40, 0.3)";
                canvas.fillRect(cords_start, area.y, cords_end - cords_start, area.h);
            }
        }
        temp = new Dygraph(
            document.getElementById("tempChart"),
            [
                {% for d in data %}[new Date("{{ d.datetime.isoformat }}"),{% if d.success %}{{ d.temp }}{% else %} null {% endif %}],
                {% endfor %}
            ],
            {
                title: 'Temp',
                animatedZooms: true,
                //showRangeSelector: true,
                axes: {
                    x: {
                        valueFormatter: function(ms) {
                            return moment(ms).format('DD/MM/YY HH:mm:ss')
                        }
                    }
                },
                labels: [ "Datetime", "Temp" ],
                underlayCallback: defaultUnderlayCallback,
                plotter: smoothPlotter,
            }
        );
        humi = new Dygraph(
            document.getElementById("humiChart"),
            [
                {% for d in data %}[new Date("{{ d.datetime.isoformat }}"),{% if d.success %}{{ d.humidity }}{% else %} null {% endif %}],
                {% endfor %}
            ],
            {
                title: 'Humidity',
                animatedZooms: true,
                //showRangeSelector: true,
                axes: {
                    x: {
                        valueFormatter: function(ms) {
                            return moment(ms).format('DD/MM/YY HH:mm:ss')
                        }
                    }
                },
                labels: [ "Datetime", "Humi" ],
                underlayCallback: defaultUnderlayCallback,
                plotter: smoothPlotter,
            }
        );
        relay = new Dygraph(
            document.getElementById("relayChart"),
            [
                {% for d in data %}[new Date("{{ d.datetime.isoformat }}"),
                {% if d.relay.0 == "1" %} 6 {% else %} null {% endif %},
                {% if d.relay.1 == "1" %} 5 {% else %} null {% endif %},
                {% if d.relay.2 == "1" %} 4 {% else %} null {% endif %},
                {% if d.relay.3 == "1" %} 3 {% else %} null {% endif %},
                {% if d.relay.4 == "1" %} 2 {% else %} null {% endif %},
                {% if d.relay.5 == "1" %} 1 {% else %} null {% endif %},
                ],
                {% endfor %}
            ],
            {
                strokeWidth: 6.0,
                title: 'Relay status',
                animatedZooms: true,
                valueRange: [0.5,6.5],
                zoomCallback: function() {
                    relay.updateOptions({zoomRange: [0.5,6.5]});
                },
                axes: {
                    y: {
                        axisLabelFormatter: function(d) {
                            switch(d) {
                                case 6: return 'Relay 1'
                                case 5: return 'Relay 2'
                                case 4: return 'Relay 3'
                                case 3: return 'Relay 4'
                                case 2: return 'Relay 5'
                                case 1: return 'Relay 6'
                                default:
                                    return ''
                            }
                        },
                        valueFormatter: function(y, opts, series_name) {
                            //TODO show OFF for null
                            if(y != null) return 'ON'
                                return 'OFF'
                        },
                        ticker: function(min, max, pixels, opts, dygraph, vals) {
                            return [
                            {v:6, label:"Relay 1"}, 
                            {v:5, label:"Relay 2"}, 
                            {v:4, label:"Relay 3"},
                            {v:3, label:"Relay 4"},
                            {v:2, label:"Relay 5"},
                            {v:1, label:"Relay 6"},
                            ];
                        }
                    },
                    x: {
                        valueFormatter: function(ms) {
                            return moment(ms).format('DD/MM/YY HH:mm:ss')
                        }
                    }
                },
                labels: [ "Datetime", "Relay 1", "Relay 2" , "Relay 3" , "Relay 4" , "Relay 5" , "Relay 6"  ],
                underlayCallback: defaultUnderlayCallback
            }
        );
        var gs = [];
        gs.push(temp);
        gs.push(humi);
        gs.push(relay);
        sync = Dygraph.synchronize(gs, {
            zoom: true,
            range: false,
            selection: true
        });
    </script>
</body>
</html>